@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

.colortext {
  color: #00a99d;
}

.intro_module {
  position: relative;
  text-align: center;
  background-color: #f9f9f9;
  padding: 50px 0 80px 0;
}
.intro_module .intro_module_slide {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.intro_module .intro_module_slide .colortext {
  color: #00a99d;
}
.intro_module .intro_module_slide h2 {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 24px;
  color: #8a8a8a;
  font-weight: 800;
  margin: 0 25px;
}
.intro_module .intro_module_slide img {
  margin-top: 7px;
  width: 30px;
  height: 15px;
}
.intro_module .full_title {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 18;
  color: #9c9c9c;
  font-weight: 600;
  margin-top: 20px;
}
.intro_module .first_box,
.intro_module .second_box,
.intro_module .third_box {
  margin-bottom: 50px;
}
.intro_module .first_box:hover .intro-item-icon,
.intro_module .second_box:hover .intro-item-icon,
.intro_module .third_box:hover .intro-item-icon {
  background: #00a99d;
  transition: 0.3s;
}
.intro_module .first_box:hover .touch_for_intro_module,
.intro_module .second_box:hover .touch_for_intro_module,
.intro_module .third_box:hover .touch_for_intro_module {
  background: #00a99d;
  color: #f9f9f9;
  border: none;
  transition: 0.3s;
}
.intro_module .first_box .first_box_icon {
  background: #8a8a8a;
}
.intro_module .second_box .second_box_icon {
  background: #00a99d;
}
.intro_module .third_box .third_box_icon {
  background: #8a8a8a;
}

.intro_module .first_box .image-flex, .intro_module .second_box .image-flex, .intro_module .third_box .image-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 33px;
}
.intro_module .first_box .image-flex img, .intro_module .second_box .image-flex img, .intro_module .third_box .image-flex img {
  width: 40px;
}

.intro_module .first_box .box_text h5, .intro_module .second_box .box_text h5, .intro_module .third_box .box_text h5 {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #606060;
}
.intro_module .first_box .box_text p, .intro_module .second_box .box_text p, .intro_module .third_box .box_text p {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 14px;
  color: #606060;
}

.intro_module .first_box .touch_for_intro_module, .intro_module .second_box .touch_for_intro_module, .intro_module .third_box .touch_for_intro_module {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 12px;
  color: #8a8a8a;
  text-decoration: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #8a8a8a;
}

.banner-wrapper {
  background-color: #8a8a8a;
  padding-top: 220px;
  padding-bottom: 220px;
}
.banner-wrapper .row {
  justify-content: flex-start;
  text-align: center;
}
.banner-wrapper .row .n1-p {
  font-size: 25px;
}
.banner-wrapper .row .n2-p {
  font-weight: bold;
  font-size: 63px;
  margin-top: -40px;
  color: #333333;
}
.banner-wrapper .row .n3-p {
  background-color: #333333;
  color: white;
  margin-top: -25px;
  max-width: 100%;
}
.banner-wrapper .row .n3-p::first-letter {
  color: #00a99d;
}
.banner-wrapper .row .n4-p {
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
}
.banner-wrapper .row .icon {
  color: #00a99d;
}
.banner-wrapper .row .icon svg {
  width: 50px;
  height: 50px;
  color: #00a99d;
}

.header_wrapper {
  background-color: #f9f9f9;
  border-bottom: 2px solid #dedede;
  padding: 30px 0;
}
.header_wrapper .container-md {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.header_wrapper .container-md .navbar {
  display: block;
  padding: 5px;
  text-align: right;
}
.header_wrapper .container-md .navbar .nav_menu Ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.header_wrapper .container-md .navbar .nav_menu Ul li {
  list-style-type: none;
  margin-left: 10px;
}
.header_wrapper .container-md .navbar .nav_menu Ul li a {
  font-family: "Raleway-ExtraBold", sans-serif;
  color: #606060;
  font-size: 14px;
  line-height: initial;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.header_wrapper .container-md .navbar .nav_menu Ul li a:hover {
  background-color: #00a99d;
  color: #f9f9f9;
}
.header_wrapper .container-md .navbar .nav_menu Ul li .active_link {
  background-color: #00a99d;
  color: #f9f9f9;
}
.header_wrapper .container-md .navbar .search {
  display: flex !important;
}
.header_wrapper .container-md .navbar .search .form-control {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 14px;
  border: 1px solid #00a99d;
  color: #9c9c9c;
  text-transform: uppercase;
  box-shadow: initial;
  margin-right: 0.5rem !important;
}
.header_wrapper .container-md .navbar .search .form-control:hover {
  box-shadow: 0 0 10px #00a99d;
}
.header_wrapper .container-md .navbar .search .submit {
  border: 1px solid #00a99d;
  background-color: white;
  box-shadow: initial;
  padding: 0 10px;
  border-radius: 4px;
}
.header_wrapper .container-md .navbar .search .submit:hover {
  background-color: white;
  box-shadow: 0 0 10px #00a99d;
}

.info {
  padding-top: 80px;
  margin-top: 110px;
  background-color: #383838;
  position: relative;
}
.info .title-features h2 {
  color: #ffff;
}
.info .title-features p {
  text-align: center;
  color: #9b9b9b;
  font-size: 15px;
}

.icon-info {
  padding-bottom: 55px;
}
.icon-info svg {
  width: 45px;
  height: 45px;
  color: #00a99d;
  margin-right: 25px;
}

.info-icon-text h3 {
  color: #ffff;
  text-transform: uppercase;
  font-size: 15px;
}
.info-icon-text p {
  font-size: 12px;
  color: #8a8a8a;
  width: 70%;
}

.icon-info:last-child {
  padding-bottom: 0;
}

.info::before, .info::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
}

.info::before {
  background-color: #00a99d;
  border-radius: 3px;
  top: calc(-25px/2);
  transform: rotate(45deg);
}

.info::after {
  border-radius: 3px;
  top: calc(-25px/2);
  background-image: url(../img/svg/arrow-down-up.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.ipad-wrapper {
  padding-top: 30px;
  overflow: hidden;
}
.ipad-wrapper .ipad img {
  position: relative;
  margin-bottom: -270px;
  height: 348px;
}
.ipad-wrapper .ipad-reverse img {
  margin-bottom: -80px;
}

.amazing_features_module {
  position: relative;
  background-color: #383838;
  color: #f9f9f9;
  padding-top: 50px;
}
.amazing_features_module .amazing_features_slide {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.amazing_features_module .amazing_features_slide .colortext {
  color: #00a99d;
}
.amazing_features_module .amazing_features_slide h2 {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 24px;
  color: #f9f9f9;
  font-weight: 800;
  margin: 0 25px;
}
.amazing_features_module .amazing_features_slide img {
  margin-top: 7px;
  width: 30px;
  height: 15px;
}
.amazing_features_module .first_title {
  text-align: center;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 18;
  color: #8a8a8a;
  font-weight: 600;
  margin-top: 20px;
}
.amazing_features_module .wrapper_box {
  margin-top: 90px;
}
.amazing_features_module .wrapper_box .amazing_features_box {
  display: flex;
  margin-bottom: 50px;
}
.amazing_features_module .decoration {
  position: relative;
  overflow: hidden;
}
.amazing_features_module .decoration .first_logo {
  position: absolute;
  left: 57%;
  top: 15%;
}
.amazing_features_module .decoration .second_logo {
  position: absolute;
  left: 23%;
  top: 40%;
}

.amazing_features_module .wrapper_box .amazing_features_box h5 {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #dedede;
  margin-left: 40px;
}
.amazing_features_module .wrapper_box .amazing_features_box p {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 14px;
  color: #9c9c9c;
  margin-left: 40px;
}

.form_group .form_group_box .text_form_group_box h5 {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #606060;
}
.form_group .form_group_box .text_form_group_box .tabs {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 12px;
  color: #9c9c9c;
}
.form_group .form_group_box .text_form_group_box p {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 14px;
  color: #606060;
}

.works {
  padding-top: 80px;
}
.works .container .title {
  font-size: 30pxx;
  text-transform: uppercase;
  text-align: center;
}
.works .container .title-info {
  text-align: center;
  color: #9b9b9b;
  font-size: 15px;
}
.works .item {
  width: 250px;
  height: 250px;
  background-color: #8a8a8a;
  margin-right: 2px;
  margin-bottom: 2px;
}
.works .item:hover {
  background-color: #00a99d;
}
.works .item .sub-item {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.works .item .action {
  color: #00a99d;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
}
.works .item .sub-item-hovered {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  transition: 0.3s;
  transform: scale(0);
}
.works .item:hover .sub-item-hovered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
.works .text-hover {
  margin-top: 105px;
}
.works .first-romb-text {
  color: white;
  text-align: center;
  font-size: 14px;
}
.works .second-romb-text {
  color: white;
  text-align: center;
  font-size: 12px;
}
.works .like p {
  color: white;
}
.works .item:last-child {
  margin-right: 0;
}

.row-bottom {
  padding-bottom: 50px;
}

@media (max-width: 1200px) {
  .works {
    padding-top: 80px;
  }
  .works .container .title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  .works .container .title-info {
    text-align: center;
    color: #9b9b9b;
    font-size: 15px;
  }
  .works .item {
    width: 250px;
    height: 250px;
    background-color: #8a8a8a;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .works .item:hover {
    background-color: #00a99d;
  }
  .works .item .sub-item {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .works .item .action {
    color: #00a99d;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px;
  }
  .works .item .sub-item-hovered {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    transition: 0.3s;
    transform: scale(0);
  }
  .works .item:hover .sub-item-hovered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
  .works .text-hover {
    margin-top: 105px;
  }
  .works .first-romb-text {
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  .works .second-romb-text {
    color: white;
    text-align: center;
    font-size: 12px;
  }
  .works .like p {
    color: white;
  }
  .works .item:last-child {
    margin-right: 0;
  }

  .row-bottom {
    padding-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .works {
    padding-top: 80px;
  }
  .works .container .title {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
  }
  .works .container .title-info {
    text-align: center;
    color: #9b9b9b;
    font-size: 14px;
  }
  .works .item {
    width: 250px;
    height: 250px;
    background-color: #8a8a8a;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .works .item:hover {
    background-color: #00a99d;
  }
  .works .item .sub-item {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .works .item .action {
    color: #00a99d;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
  }
  .works .item .sub-item-hovered {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    transition: 0.3s;
    transform: scale(0);
  }
  .works .item:hover .sub-item-hovered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
  .works .text-hover {
    margin-top: 105px;
  }
  .works .first-romb-text {
    color: white;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
  }
  .works .second-romb-text {
    color: white;
    text-align: center;
    font-size: 12px;
  }
  .works .like p {
    color: white;
    padding-bottom: 8px;
  }
  .works .item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 792px) {
  .works {
    padding-top: 80px;
  }
  .works .container .title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }
  .works .container .title-info {
    text-align: center;
    color: #8a8a8a;
    font-size: 13px;
  }
  .works .item {
    width: 250px;
    height: 250px;
    background-color: #8a8a8a;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .works .item:hover {
    background-color: #00a99d;
  }
  .works .item .sub-item {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .works .item .action {
    color: #00a99d;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px;
  }
  .works .item .sub-item-hovered {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    transition: 0.3s;
    transform: scale(0);
  }
  .works .item:hover .sub-item-hovered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
  .works .text-hover {
    margin-top: 105px;
  }
  .works .first-romb-text {
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
  .works .second-romb-text {
    color: white;
    text-align: center;
    font-size: 11px;
  }
  .works .like p {
    color: white;
    padding-bottom: 7px;
  }
  .works .item:last-child {
    margin-right: 0;
  }
  .works .row-bottom {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .works .row-upper {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .works {
    padding-top: 80px;
  }
  .works .container .title {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
  }
  .works .container .title-info {
    text-align: center;
    color: #8a8a8a;
    font-size: 12px;
  }
  .works .item {
    width: 200px;
    height: 200px;
    background-color: #8a8a8a;
    margin-bottom: 2px;
  }
  .works .item:hover {
    background-color: #00a99d;
  }
  .works .item .sub-item {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .works .item .action {
    color: #00a99d;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px;
  }
  .works .item .sub-item-hovered {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    transition: 0.3s;
    transform: scale(0);
  }
  .works .item:hover .sub-item-hovered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
  .works .text-hover {
    margin-top: 105px;
  }
  .works .first-romb-text {
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
  .works .second-romb-text {
    color: white;
    text-align: center;
    font-size: 11px;
  }
  .works .like p {
    color: white;
    padding-bottom: 7px;
  }
  .works .item:last-child {
    margin-right: 0;
  }
  .works .row-bottom {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .works .row-upper {
    display: flex;
    justify-content: center;
  }
}
.facts {
  background-color: #383838;
  padding-top: 75px;
  margin-top: 60px;
  position: relative;
}
.facts .title {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.facts .title-info {
  text-align: center;
  color: #9b9b9b;
  font-size: 15px;
}
.facts .number {
  padding-top: 45px;
}
.facts .number p {
  font-size: 75px;
  color: #e4e4e4;
  text-align: center;
}
.facts .icon-number {
  color: #00a99d;
  display: flex;
  justify-content: center;
  margin-top: -25px;
}
.facts .icon-number svg {
  width: 20px;
  height: 20px;
}
.facts .icon-number-text {
  color: #8a8a8a;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.undercase {
  color: #8a8a8a;
  font-size: 10px;
  text-transform: uppercase;
}

.facts::before,
.facts::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
}

.facts::before {
  background-color: #00a99d;
  border-radius: 3px;
  top: calc(-25px / 2);
  transform: rotate(45deg);
}

.facts::after {
  border-radius: 3px;
  top: calc(-25px / 2);
  background-image: url(../img/svg/arrow-down-up.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.btn btn-light {
  background-color: green;
}

.members {
  padding-top: 80px;
}
.members .title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.members .title-info {
  text-align: center;
  color: #9b9b9b;
  font-size: 15px;
}
.members .btn-sm {
  margin-top: -30px;
  margin-left: 115px;
}
.members .member {
  width: 250px;
  height: 250px;
  background-color: #8a8a8a;
  margin-right: 10px;
}
.members .member .info-members {
  text-align: center;
  padding-top: 220px;
  color: #8a8a8a;
}
.members .member .info-members .position {
  padding-top: 10px;
}
.members .member .info-members .email {
  display: flex;
}
.members .member .info-members .email svg {
  margin-right: 10px;
  margin-top: 5px;
}
.members .member .info-members .phone {
  display: flex;
  padding-left: 20px;
}
.members .member .info-members .phone svg {
  margin-top: -1px;
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .members {
    padding-top: 80px;
  }
  .members .title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  .members .title-info {
    text-align: center;
    color: #8a8a8a;
    font-size: 15px;
  }
  .members .btn-sm {
    margin-top: -30px;
    margin-left: 115px;
  }
  .members .member {
    width: 230px;
    height: 250px;
    background-color: #8a8a8a;
    margin-right: 10px;
  }
  .members .member .info-members {
    text-align: center;
    padding-top: 220px;
    color: #8a8a8a;
  }
  .members .member .info-members .position {
    padding-top: 10px;
    display: none;
  }
  .members .member .info-members .email {
    display: flex;
  }
  .members .member .info-members .email svg {
    margin-right: 10px;
    margin-top: 5px;
  }
  .members .member .info-members .phone {
    display: flex;
    padding-left: 20px;
  }
  .members .member .info-members .phone svg {
    margin-top: -1px;
    margin-right: 15px;
  }
}
@media (max-width: 992px) {
  .members {
    padding-top: 80px;
  }
  .members .title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  .members .title-info {
    text-align: center;
    color: #8a8a8a;
    font-size: 15px;
  }
  .members .btn-sm {
    margin-top: -30px;
    margin-left: 115px;
  }
  .members .member {
    width: 165px;
    height: 225px;
    background-color: #8a8a8a;
    margin-right: 10px;
  }
  .members .member .info-members {
    text-align: center;
    padding-top: 220px;
    color: #8a8a8a;
  }
  .members .member .info-members .position {
    padding-top: 10px;
  }
  .members .member .info-members .email {
    display: flex;
  }
  .members .member .info-members .email svg {
    margin-right: 10px;
    margin-top: 5px;
  }
  .members .member .info-members .phone {
    display: flex;
    padding-left: 20px;
  }
  .members .member .info-members .phone svg {
    margin-top: -1px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .members {
    padding-top: 80px;
  }
  .members .title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }
  .members .title-info {
    text-align: center;
    color: #8a8a8a;
    font-size: 14px;
  }
  .members .btn-sm {
    margin-top: -30px;
    margin-left: 115px;
  }
  .members .member {
    width: 130px;
    height: 175px;
    background-color: #8a8a8a;
    margin-right: 5px;
  }
  .members .member .info-members {
    text-align: center;
    padding-top: 150px;
    color: #8a8a8a;
  }
  .members .member .info-members .position {
    padding-top: 10px;
    font-size: 15px;
  }
  .members .member .info-members .email {
    display: flex;
    font-size: 12px;
  }
  .members .member .info-members .email svg {
    margin-right: 10px;
    margin-top: 2px;
  }
  .members .member .info-members .phone {
    display: flex;
    padding-left: 20px;
    font-size: 11px;
  }
  .members .member .info-members .phone svg {
    margin-top: -1px;
    margin-right: 15px;
    width: 15px;
  }
}
@media (max-width: 576px) {
  .members {
    padding-top: 80px;
  }
  .members .title {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
  }
  .members .title-info {
    text-align: center;
    color: #8a8a8a;
    font-size: 13px;
  }
  .members .btn-sm {
    margin-top: -30px;
    margin-left: 115px;
  }
  .members .member {
    background-color: #8a8a8a;
    margin-right: 5px;
  }
  .members .member:first-child {
    margin-bottom: 150px;
  }
  .members .member:nth-of-type(2) {
    margin-bottom: 150px;
  }
  .members .member .info-members {
    text-align: center;
    padding-top: 150px;
    color: #8a8a8a;
  }
  .members .member .info-members .position {
    padding-top: 10px;
    font-size: 15px;
  }
  .members .member .info-members .email {
    display: flex;
    font-size: 12px;
  }
  .members .member .info-members .email svg {
    margin-right: 10px;
    margin-top: 2px;
  }
  .members .member .info-members .phone {
    display: flex;
    padding-left: 20px;
    font-size: 11px;
  }
  .members .member .info-members .phone svg {
    margin-top: -1px;
    margin-right: 15px;
    width: 15px;
  }
}
.quotes {
  background-color: #00a99d;
  margin-top: 160px;
  text-align: center;
  position: relative;
}
.quotes .whoSays {
  border: 0px solid white;
  width: 270px;
  height: 40px;
  background-color: #e4e4e4;
  border-radius: 8px;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 50px;
}
.quotes .text-quotes {
  color: #ffff;
  font-size: 19px;
}

.quotes::before,
.quotes::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
}

.quotes::before {
  background-color: black;
  border-radius: 3px;
  top: calc(-25px / 2);
  transform: rotate(45deg);
}

.quotes::after {
  border-radius: 3px;
  top: calc(-25px / 2);
  background-image: url(../img/svg/arrow-down-up.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_group {
  background-color: #f9f9f9;
  padding: 80px 0 50px 0;
}
.form_group .form_group_box {
  display: flex;
  margin-bottom: 50px;
}
.form_group .form_group_box .icon-wrap {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 70px;
  background-image: url("../images/icons/icon-filled.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.form_group .form_group_box:hover .icon-wrap {
  background-image: url("../images/icons/icon-not-filled.png");
}
.form_group .form_group_box .icon {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
}
.form_group .form_group_box .icon img {
  width: 18px;
  height: 18px;
}
.form_group .form_group_box .text_form_group_box {
  margin-left: 20px;
}

.contact_panel {
  display: flex;
  justify-content: center;
  background-color: #00a99d;
  padding: 30px 0 30px 0;
}
.contact_panel .text h5 {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 18;
  text-transform: uppercase;
  color: #f9f9f9;
  margin-top: 10px;
}
.contact_panel .contact-us {
  text-align: right;
}
.contact_panel .contact-us .btn {
  background-color: #dedede;
  font-family: "Raleway-ExtraBold", sans-serif;
  color: #606060;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  padding: 12px;
}
.contact_panel .contact-us .btn:hover {
  background-color: #f9f9f9;
  color: #00a99d;
  box-shadow: 0 0 10px #f9f9f9;
  transition: all 0.5s;
}

.prices_module {
  background-color: #f9f9f9;
  padding: 50px 0 80px 0;
}
.prices_module .prices_module_slide {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.prices_module .prices_module_slide .colortext {
  color: #00a99d;
}
.prices_module .prices_module_slide h2 {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 24px;
  color: #8a8a8a;
  font-weight: 800;
  margin: 0 25px;
}
.prices_module .prices_module_slide img {
  margin-top: 7px;
  width: 30px;
  height: 15px;
}
.prices_module .full_title {
  text-align: center;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 18;
  color: #8a8a8a;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 50px;
}
.prices_module .info_box {
  text-align: center;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 0;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 300px;
}
.prices_module .info_box .btn {
  width: 145px;
  height: 40px;
  margin-top: -20px;
  margin-left: 25%;
}
.prices_module .info_box:hover .btn {
  background-color: #00a99d;
  color: #f9f9f9;
  transition: 0.5s;
}
.prices_module .info_box .btn_star {
  width: 200px;
  height: 40px;
  margin-top: -20px;
  margin-left: 15%;
  border: none;
}
.prices_module .info_box .btn_star img {
  padding: 1px 8px 0 8px;
}
.prices_module .info_box:hover .btn_star {
  background-color: #00a99d;
  color: #f9f9f9;
  transition: 0.5s;
}
.prices_module .info_box .list p {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 18;
  color: #8a8a8a;
}
.prices_module .info_box .down_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prices_module .info_box .down_form .sing_up {
  background-color: #00a99d;
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 12px;
  color: #f9f9f9;
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.prices_module .info_box .price {
  position: relative;
}
.prices_module .info_box .price .money {
  margin-right: 5px;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 16px;
  color: #8a8a8a;
}
.prices_module .info_box .price .sum {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 64px;
  color: #8a8a8a;
}
.prices_module .info_box .price .cents {
  position: absolute;
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 16px;
  color: #8a8a8a;
  top: 15px;
}
.prices_module .info_box .price .monthly {
  margin-left: 8px;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 14px;
  color: #8a8a8a;
}

.prices_module .info_box .btn, .prices_module .info_box .btn_star {
  display: flex;
  justify-content: center;
  background-color: #383838;
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 14px;
  color: #f9f9f9;
  box-shadow: 0 0 10px 0px black;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.slider_module {
  background: #383838;
  padding: 50px 0 50px 0;
  color: white;
  position: relative;
  font-family: "Agency FB", sans-serif;
}
.slider_module .carousel-inner .col-md-3 {
  position: relative;
  background-color: #8a8a8a;
  width: 270px;
  height: 180px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}
.slider_module .carousel-inner .col-md-3 img {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 260px;
  height: 172px;
  border-radius: 4px;
}

.panel {
  display: flex;
  justify-content: center;
  background-color: #8a8a8a;
  padding: 55px 0 55px 0;
}
.panel .text h4 {
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 24px;
  color: #383838;
  margin-top: 10px;
}
.panel .text h4 .tabs {
  text-transform: uppercase;
}
.panel .text img {
  margin-top: -5px;
}
.panel .contact-us {
  text-align: right;
}
.panel .contact-us .btn {
  background-color: #00a99d;
  font-family: "Raleway-ExtraBold", sans-serif;
  color: #f9f9f9;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  padding: 10px;
}
.panel .contact-us .btn img {
  margin-left: 8px;
  margin-top: -4px;
}
.panel .contact-us .btn:hover {
  background-color: #f9f9f9;
  color: #00a99d;
  box-shadow: 0 0 10px #f9f9f9;
  transition: all 0.5s;
}

.social_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #383838;
  padding: 50px 0 80px 0;
}
.social_panel .logo {
  margin: 0 auto;
}
.social_panel .social_box {
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
}
.social_panel .social_box .social_btn {
  width: 53px;
  height: 50px;
  border: 1px solid #9c9c9c;
  background-color: #383838;
  box-shadow: initial;
  padding: 0 10px;
  border-radius: 5px;
  margin: 5px;
}
.social_panel .social_box .social_btn:hover {
  background-color: #00a99d;
  box-shadow: 0 0 5px #00a99d;
  border: none;
  transition: 0.5s;
}

.contact {
  background-color: #00a99d;
}
.contact .text-contact {
  text-transform: uppercase;
  color: #d0dddb;
  font-size: 14px;
  padding-top: 25px;
}

.footer-wrapper {
  background-color: #383838;
  font-size: 16px;
  text-align: center;
  position: relative;
  color: white;
}
.footer-wrapper p {
  padding-top: 25px;
}

.footer-wrapper::before,
.footer-wrapper::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
}

.footer-wrapper::before {
  background-color: #00a99d;
  border-radius: 3px;
  top: calc(-25px / 2);
  transform: rotate(45deg);
}

.footer-wrapper::after {
  border-radius: 3px;
  top: calc(-25px / 2);
  background-image: url(../img/svg/arrow-down-up.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.contact-form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */